@import "@assets/globals";
@import "@pages/home/home.scss";

.ai-container {
    @extend .home-container;
    overflow: auto;
}

.ai-left, .ai-margin {
    @extend .style-font-text;
    font-weight: 700;
}

.ai-left {
    color: $dark;
    float: left;
}

.ai-right-pt1 {
    @extend .style-font-text;
    color: $grayfiller;
}

.ai-right {
    float: right;
    display: flex;
}

.ai-right-left {
    @extend .ai-right;
    float: left;
}

.ai-margin {
    margin-left: 5px;
    color: $purple;
}